# Build directories
build/
Build/
build_*/

# CMake build artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
compile_commands.json

# IDE files
.vscode/
.idea/
*.swp
*.swo
.clangd/

# Temporary files
*.tmp
*.temp
*.bak
*.tmp/
backup-*
.touch

# Binary files
*.a
*.so
*.dylib
*.exe
*.out

# Debug files
*.dSYM/

# Test output files
*.log
*.trs

# ignore local symbol link to yyjson lib header
include/yyjson.h
