name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake build-essential git
    
    - name: Configure CMake
      run: cmake -B build -S . -DUSE_FETCHCONTENT=ON
    
    - name: Build project
      run: cmake --build build --config Release
    
    - name: Run tests
      run: ./build/utxyjson --cout=silent
