name: perf_test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake build-essential git
    
    - name: Configure CMake
      run: cmake -B build -S . -DUSE_FETCHCONTENT=ON -DCMAKE_BUILD_TYPE=Release -DBUILD_PERF=ON
    
    - name: Build project
      run: cd build && make VERBOSE=1
    
    - name: Run perf tests
      run: ./script/stat_perf.pl --stat_run=20 --runtime_ms=1000
